/* variables */
:root {
	--main-color: #ffcc08;
	--second-color: #333;
	--third-color: #2a2b2f;
	--main-transition: all .25s ease-in-out 0s;
	--second-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	--main-font-family: 'Source Sans Pro', sans-serif;
	--second-font-family: 'Orbitron', sans-serif;;
	--third-font-family: 'Montserrat', sans-serif;;
}

/* reset */
::-moz-selection {
  color: #fff;
  background: var(--main-color);
}
::selection {
	color: #fff;
	background: var(--main-color);
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
	font-family: var(--main-font-family);
	font-size: 17px;
    color: var(--second-color);
    font-weight: 400;
    transition: var(--main-transition);
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: 0;
}
strong, b {
    font-weight: 600;
}
html {
    scroll-behavior: smooth;
}

/* bootstrap */
.container {
    width: 1170px;
    max-width: 100%;
}
.col-2.w-20 {
    width: 20%;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.max650 {
    max-width: 650px;
}
hr {
    margin: 20px 0;
    background-color: #c9cacb;
    opacity: 1;
}

/* backgrounds */
.main-bg-color {
	background: var(--main-color);
}
.second-bg-color {
	background: var(--second-color);
}
.black-bg-color {
	background: #000;
}
.white-bg-color {
	background: #fff;
}
.gray-bg-color {
	background: #ececec;
}

/* colors */
.main-color {
	color: var(--main-color);
}
.second-color {
	color: var(--second-color);
}
.black-color {
	color: #000;
}
.white-color {
	color: #fff;
}
.gray-color {
	color: #ececec;
}

/* scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #d4d4d4;
	box-shadow: inset 0 0 6px #d4d4d4;
	background-color: #d4d4d4;
}
::-webkit-scrollbar {
	width: 6px;
	background-color: #313131;
}
::-webkit-scrollbar-thumb {
	background-color: #313131;
}
* {
	scrollbar-color: #313131 #8f8f8f;
	scrollbar-width: thin;
}

/* headings */
h1 {
    font-size: 33px;
    font-family: var(--second-font-family);
    font-weight: 500;
}
h2 {
    font-size: 32px;
    font-family: var(--third-font-family);
}
h3 {
    font-size: 31px;
    font-family: var(--third-font-family);
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 19px;
}

/* spacing */
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-45 {
    margin-bottom: 45px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-140 {
    margin-bottom: 140px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-300 {
    margin-top: 300px;
}
.mw-710 {
    width: 710px;
    max-width: 100%;
    margin: auto;
}
.mw-1190 {
    width: 1190px;
    max-width: 100%;
    margin: auto;
}
.min-vh-100 {
    min-height: 100vh;
}

/* buttons */
.btn {
	font-size: 19px;
	border-radius: 50px;
	padding: 13px 30px;
	text-decoration: none;
	border: 2px solid rgba(255,255,255,0);
	display: inline-block;
	transition: var(--main-transition);
	font-weight: 900;
}
.btn.with-icon img {
	margin-left: 5px;
	transition: var(--main-transition);
}
.btn.main-bg-color:hover {
	background-color: rgba(255,255,255,0);
	border-color: var(--main-color);
}
.btn.with-icon:hover img {
	transform: translateX(10px);
}
#quantity input {
    width: 55px;
    text-align: center;
    font-size: 19px;
    border: none;
}
#quantity {
    margin-bottom: 15px;
}
#quantity .controls {
    background: #d1d3d4;
    padding: 5px 14px;
    border-radius: 20px;
    color: #000;
    font-size: 19px;
    font-weight: 900;
    cursor: pointer;
    transition: var(--main-transition);
}
#quantity .controls:hover {
    opacity: .7;
}
.close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #000;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    transition: var(--main-transition);
    line-height: 1;
    text-decoration: none;
}
.close-btn:hover {
    opacity: .7;
}
.btn.second-bg-color:hover {
    opacity: .7;
}
.btn.gray-bg-color:hover {
    opacity: .7;
}
.btn.link {
    padding: 0;
}
.btn.link:hover {
    text-decoration: underline;
    opacity: .7;
}
.btn.big {
    padding: 13px 177px;
}
.border-btn {
    border: 2px solid var(--third-color);
    color: var(--third-color);
    background-color: transparent;
    padding: 13px 33px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    transition: var(--main-transition);
}
.border-btn:hover {
    background-color: var(--second-color);
    color: #fff;
}
.border-btn.white-bg {
    border: 2px solid #fff;
    color: var(--third-color);
    background-color: #fff;
}
.border-btn.white-bg:hover {
    border: 2px solid var(--third-color);
    background-color: var(--third-color);
    color: #fff;
}

/* popups */
#log-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: #000;
	opacity: 0.71;
	display: none;
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100100;
	transition: all 0.25s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.popup-wrap.show-popup {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.popup.show-popup {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}
.popup-wrap-content {
	position: relative;
	height: 100vh;
	overflow-y: auto;
}
.popup {
	position: absolute;
	top: 50%;
	transition: all 0.25s ease-in-out;
	left: calc(50% - 21px);
	transform: translate(-50%, -50%) scale(0.85);
	z-index: 40010;
	max-width: 600px;
	width: 100%;
	background: #fff none no-repeat center center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.popup-header {
    padding: 10px;
    position: relative;
}
.popup-body {
    padding: 10px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.popup-footer {
	padding: 10px;
}
.close-popup {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}
.close-popup:hover {
	opacity: 0.7;
}
.cart-info {
    display: block;
    width: 20px;
    height: 20px;
    background: blue;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

/* form-group */
.form-group {
    margin-bottom: 22px;
    position: relative;
}
input {
    width: 100%;
    padding: 20px;
    border: 1px solid #dadada;
    margin-bottom: 0px;
    position: relative;
    z-index: 12;
    border-radius: 50px;
    outline: none;
}
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #dadada;
    margin-bottom: 0px;
    position: relative;
    z-index: 12;
    border-radius: 50px;
}
.custom-input {
    font-weight: 900;
}
.form-group .custom-input span {
    color: #e14747;
}
.form-group .desc {
    color: #949598;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    font-weight: 700;
}
.custom-textarea:placeholder-shown + .custom-input-placeholder,
.custom-input:placeholder-shown + .custom-input-placeholder {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    color: #888;
    transform: translateY(0px);
}
.custom-input-placeholder {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
    transform: translateY(-26px);
    transition: all 0.25s cubic-bezier(.13,.56,.38,.89) 0s;
    color: #000;
    font-size: 19px;
}
.custom-input-placeholder .required {
    color: #e14747;
}
.custom-submit {
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    padding: 10px;
    transition: all 0.25s ease-in-out 0s;
}
.custom-submit:hover {
    background: #555;
    color: #fff;
}

/* custom radio box */
#radio-box {
    margin: 10px 0;
    padding-left: 0;
}
#radio-box label{
    color: #535353;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 0;
}
/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    cursor: pointer;
    font-size: 16px;
    padding-left: 40px;
    text-align: right;
    position: relative;
}
/* radio aspect */
[type="radio"]:not(:checked) + label::before, [type="radio"]:checked + label::before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    border-radius: 50%;
    content: "";
    height: 27px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 0;
    width: 27px;
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label::after, [type="radio"]:checked + label::after {
    background: none repeat scroll 0 0 var(--main-color);
    content: "";
    font-size: 14px;
    height: 30px;
    left: -2px;
    margin-top: 3px;
    position: absolute;
    top: -7px;
    transition: all 0.2s ease 0s;
    width: 30px;
    border-radius: 2px;
    border-radius: 50%;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(.5);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
@media only screen and (min-width: 1030px) {
    #radio-box {
        float: left;
        width: 100%;
        margin: 6px 0;
        box-sizing: border-box;
    }
}

/* custom checkboox */
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    border: 1px solid #000;
    border-radius: 50%;
}
.custom-checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom-checkbox-container input:checked ~ .checkmark {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox-container .checkmark::after {
    left: 12px;
    top: 12px;
    transform: translate(-50%, -50%);
    background: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* loader */
body.loaded .loader {
	opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.loader {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    align-items: center;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    opacity: 1;
}

/* scrolled page */


/* helper classes */
.top-10 {
	top: 10px;
}
.text-uppercase {
    text-transform: uppercase;
}
.fixed-bg {
    background-attachment: fixed !important;
}
.img-fluid {
    max-width: 100%;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center;
}
img.float-left {
    float: left;
    margin: 0 20px 10px 0;
}

/* animations */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* top banner section */
.banner-container {
    background: #f1feff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-container p {
    margin: 0;
    padding: 9px 0;
    font-size: 13px;
    font-weight: 700;
}

/* header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
.navbar-toggler {
    display: none;
}
.lead-txt p {
    font-weight: 500;
}
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 30px 150px 0 0;
    margin: 0;
}
.nav-item {
    margin-right: 30px;
    position: relative;
    padding-bottom: 30px;
}
.nav-link {
    color: #333;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    font-weight: 600;
    padding: 0 5px;
    letter-spacing: 1px;
}
.nav-item:hover .nav-link + .dropdown-menu {
    display: block;
}
.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    background: #4b4e53;
    padding: 25px;
    width: 250px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.nav-item .dropdown-menu {
    list-style: none;
}
.nav-item .dropdown-menu li {
    margin-bottom: 20px;
}
.nav-item .dropdown-menu li:last-of-type {
    margin-bottom: 0;
}
.nav-item .dropdown-menu li a {
    color: #d3d3d3;
    font-size: 12px;
    transition: var(--main-transition);
    font-family: var(--third-font-family);
    display: block;
    font-weight: 600;
}
.nav-item .dropdown-menu li a i {
    margin-right: 5px;
    display: inline-block;
}
.nav-item .dropdown-menu li:hover a {
    color: #fff;
    transform: translateX(7px);
}
.nav-link.active {
    position: relative;
}
.nav-link.active::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 10;
    background: var(--second-color);
    content: "";
    width: 100%;
    height: 2px;
}

/* hero section */
.hero-section {
    position: relative;
}
.hero-section .img-holder {
    padding: 0;
}
.hero-section .txt-holder {
    position: absolute;
    top: 50%;
    left: 19vw;
    z-index: 10;
    transform: translatey(-50%);
    width: 700px;
    max-width: 100%;
}
.hero-section .img-holder img {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.hero-section .txt-holder h1 {
    font-size: 70px;
    line-height: 1;
}
.hero-section .txt-holder h2 {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -1px;
    text-transform: uppercase;
}

/* txt box section */
.txt-box-section .different-colors .txt-box-item:nth-child(1) {
    background-color: #f8f8f8;
}
.txt-box-section .different-colors .txt-box-item:nth-child(2) {
    background-color: #e8e8e8;
}
.txt-box-section .different-colors .txt-box-item:nth-child(3) {
    background-color: #dddddd;
}
.txt-box-section .different-colors .txt-box-item:nth-child(4) {
    background-color: #d0d0d0 ;
    background-color: #d0d0d0 ;
}
.txt-box-section .txt-box-item-wrapper {
    padding: 100px 55px;
}
.txt-box-section .txt-box-item-wrapper .txt-holder h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.txt-box-section .txt-box-item-wrapper .txt-holder p {
    font-size: 17px;
    margin-bottom: 35px;
}
.txt-box-section .txt-box-content.second-bg-color .txt-box-item-wrapper .txt-holder h2 {
    color: var(--main-color);
}
.txt-box-section .txt-box-content.second-bg-color .txt-box-item-wrapper .txt-holder p {
    margin-bottom: 0;
    color: #fff;
}
.txt-box-section .heading-holder h3 {
    text-align: center;
    font-weight: 400;
    font-size: 42px;
}
.txt-box-section .txt-box-content.with-heading .txt-box-item-wrapper {
    padding: 0 55px;
}
.txt-box-section .txt-box-content.with-heading {
    padding: 80px 0;
}
.txt-box-section .txt-box-content.with-heading .txt-box-item-wrapper .txt-holder p {
    margin-bottom: 0;
}
.txt-box-section .txt-box-content.with-heading .heading-holder h3 {
    margin-bottom: 70px;
}
.txt-box-section .txt-box-content.gray-bg-1-color {
    background: #ececec;
}
.txt-box-section .txt-box-content.gray-bg-2-color {
    background: #dddddd;
}
.txt-box-section .txt-box-content.gray-bg-3-color {
    background: #d0d0d0;
}
.txt-box-section .txt-box-content.white-bg-color {
    background: #fff;
}
.txt-box-section .txt-box-content.white-bg-color .txt-box-item-wrapper .txt-holder h2 {
    color: var(--main-color);
}

/* img txt section */
.img-txt-section .txt-holder .txt-holder-wrapper {
    padding: 0 150px;
}
.img-txt-section .txt-holder .txt-holder-wrapper h2 {
    margin-bottom: 35px;
    font-size: 42px;
    font-weight: 400;
}
.img-txt-section .txt-holder .txt-holder-wrapper p {
    margin-bottom: 15px;
}
.img-txt-section .txt-holder .txt-holder-wrapper p:last-of-type {
    margin-bottom: 0;
}
.img-txt-section .txt-holder .txt-holder-wrapper a {
    margin-top: 35px;
}
.img-txt-section .img-holder img {
    display: block;
}

/* txt img box section  */
.txt-icons-box-section {
    padding: 200px 60px;
}
.txt-icons-box-section .txt-content {
    margin-bottom: 60px;
}
.txt-icons-box-section .txt-holder h2 {
    color: var(--main-color);
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 400;
}
.txt-icons-box-section .txt-holder.numbers h2 {
    color: #fff;
    font-size: 51px;
}
.txt-icons-box-section .txt-holder p {
    color: #fff;
    margin-bottom: 10px;
}
.txt-icons-box-section .icons-box-content .icons-box-item .img-holder {
    margin-bottom: 20px;
}
.txt-icons-box-section .icons-box-content .icons-box-item .img-holder i {
    font-size: 70px;
    color: #fff;
    font-weight: 900;
}
.txt-icons-box-section .icons-box-content .icons-box-item {
    text-align: center;
}
.txt-icons-box-section .icons-box-content .icons-box-item .txt-holder h3 {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.txt-icons-box-section .icons-box-content .icons-box-item .txt-holder p {
    font-size: 20px;
    color: var(--main-color);
    font-family: var(--third-font-family);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}
.txt-icons-box-section.main-bg-color {
    padding: 60px 60px;
}
.txt-icons-box-section.main-bg-color .icons-box-content .icons-box-item .img-holder {
    margin-bottom: 50px;
}
.txt-icons-box-section.main-bg-color .icons-box-content .icons-box-item .img-holder i {
    color: var(--second-color);
    font-size: 40px;
}
.txt-icons-box-section.main-bg-color .txt-holder h2 {
    color: var(--second-color);
    font-size: 20px;
}
.txt-icons-box-section.main-bg-color .icons-box-content .icons-box-item .txt-holder p {
    color: var(--second-color);
    font-size: 17px;
    text-transform: none;
}

/* txt editor section */
.txt-editor-section {
    padding: 80px 0;
}
.txt-editor-section .heading-holder h1 {
    color: var(--main-color);
    text-align: center;
    font-family: var(--third-font-family);
    font-weight: 700;
    font-size: 42px;
}
.txt-editor-section .txt-editor-content h3 {
    font-weight: 400;
    font-size: 32px;
    margin: 27px 0 18px 0;
}
.txt-editor-section .txt-editor-content p {
    margin-bottom: 10px;
}
.txt-editor-section .txt-editor-content p.img-cation {
    font-style: italic;
    line-height: 1;
    font-size: 13px;
    margin-bottom: 20px;
}
.txt-editor-section .txt-editor-content img {
    max-width: 100%;
}
.txt-editor-section .txt-editor-content a {
    color: var(--main-color);
    transition: var(--main-transition);
}
.txt-editor-section .txt-editor-content a:hover {
    color: var(--second-color);
}

/* card section */
.card-section {
    padding: 100px 0;
}
.card-section .heading-holder {
    margin-bottom: 30px;
}
.card-section .heading-holder h3 {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
}
.card-section .card-item {
    margin-bottom: 24px;
    text-decoration: none;
    transition: var(--main-transition);
}
.card-section .card-item:hover {
    opacity: .8;
}
.card-section .card-item .img-holder img {
    display: block;
}
.card-section .card-item .txt-holder {
    background-color: var(--second-color);
    padding: 24px 20px;
}
.card-section .card-item .txt-holder h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 15px;
}
.card-section .card-item .txt-holder h3:last-child {
    margin-bottom: 0;
}
.card-section .card-item .txt-holder p {
    color: #fff;
}

/* cta-section */
.cta-section {
    text-align: center;
    padding: 150px 0;
}
.cta-section {
    text-align: center;
    padding: 150px 0;
}
.cta-section h2 {
    line-height: 42px;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 30px;
}
.cta-section.second-bg-color h2 {
    color: #fff;
}

/* description section */
.description-section {
    padding: 120px 0;
}
.description-section .description-item {
    padding-right: 30px;
    padding-left: 30px;
}

/* icons box section */
.icons-box-section {
    padding: 140px 60px 100px 60px;
}
.icons-box-section .heading-holder h3 {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
}

/* footer */
.footer-section {
    background: var(--main-color)
}
.footer-divider {
    background: var(--second-color);
    width: 100%;
    height: 35px;
    text-align: center;
}
.footer-section .top-footer-section {
    border-bottom: 1px solid var(--second-color);
}
.footer-section .top-footer-section .footer-links-content {
    padding: 60px 0 40px 0;
}
.footer-section .top-footer-section .footer-links-content ul {
    list-style: none;
}
.footer-section .top-footer-section .footer-links-content ul li a {
    font-style: none;
    color: var(--second-color);
    transition: var(--main-transition);
}
.footer-section .top-footer-section .footer-links-content ul li a:hover {
    color: #fff;
}
.footer-section .top-footer-section .footer-links-content ul li h3 {
    font-size: none;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.footer-section .bottom-footer-section {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.footer-section .bottom-footer-section .footer-icons-holder ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.footer-section .bottom-footer-section .footer-icons-holder ul li a {
    color: var(--second-color);
}
.footer-section .bottom-footer-section .footer-icons-holder ul li {
    margin-right: 20px;
}
.footer-section .bottom-footer-section .footer-icons-holder ul li:last-of-type {
    margin-right: 0;
}
.footer-section .bottom-footer-section .footer-icons-holder ul li a {
    transition: var(--main-transition);
}
.footer-section .bottom-footer-section .footer-icons-holder ul li a:hover {
    color: #fff;
}
.heading-holder {
	padding: 100px 0 50px;
}
.heading-holder h2 {
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	line-height: 42px;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	font-size: 42px;
	opacity: 1;
	visibility: visible;
}
.flags-container {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
    margin-bottom: 50px;
}
.flags-container li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	border-top: 1px solid #ededed;
}
.flags-container img {
	width: 100px;
	height: 60px;
	max-width: 100px;
	min-width: 100px;
}
.services-item {
    text-align: center;
    padding: 80px 60px !important;
}
.services-item i {
	font-size: 40px;
	margin-bottom: 40px;
}
.services-item:nth-child(1) {
    background-color: #f8f8f8 !important;
}
.services-item:nth-child(2) {
    background-color: #e8e8e8 !important;
}
.services-item:nth-child(3) {
    background-color: #dddddd !important;
}
.services-item:nth-child(4) {
    background-color: #d0d0d0 !important;
}

/* responsive */
@media only screen and (max-width: 1680px) {

}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 320px) {

}